node_modules
**/node_modules
.turbo
**/.turbo
dist
**/dist
**/.output
**/.nitro
coverage
**/coverage
.git
.github
playwright-report
**/playwright-report
test-results
**/test-results
.env
.env.*
!.env.example
spec
.claude
.codex
